[submodule "tools/TinderBox-Mac"]
	path = tools/TinderBox-Mac
	url = git://github.com/cinder/TinderBox-Mac.git
[submodule "tools/TinderBox-Win"]
	path = tools/TinderBox-Win
	url = git://github.com/cinder/TinderBox-Win.git
[submodule "include/boost"]
	path = include/boost
	url = git://github.com/cinder/Cinder-Boost.git
	branch = boost_1_58
[submodule "Cinder-KCB2"]
	path = Cinder-KCB2
	url = https://github.com/leavittx/Cinder-KCB2.git
[submodule "blocks/Cinder-KCB2"]
	path = blocks/Cinder-KCB2
	url = https://github.com/leavittx/Cinder-KCB2.git
[submodule "blocks/Cinder-MIDI2"]
	path = blocks/Cinder-MIDI2
	url = https://github.com/brucelane/Cinder-MIDI2.git
[submodule "blocks/Cinder-Warping"]
	path = blocks/Cinder-Warping
	url = https://github.com/leavittx/Cinder-Warping.git
